<%= turbo_frame_tag dom_id( post ) do %>
  <div class="container">
    <article> 
      <h2><%= link_to "#{post.title.titleize}", post_path(post) %></h2>
      <p><%= post.body %></p>
      <p><%= post.tags %></p>

      <%= link_to 'Edit Post', edit_post_path( post ), class: "btn btn--primary" %>
      <%= button_to 'Delete Post', post_path( post ), method: :delete,  class: "btn btn--dark", style: "margin-top: 0.5rem;" %>
    </article>
  </div>
<% end %>
