<div class="container">
  <%= form_with(model: post) do |post_form| %>
    <div style="margin-top: 1rem; margin-bottom: 1rem;">
      <%= post_form.label :title, 'Post Title:' %>
      <%= post_form.text_field :title %>
    </div>

    <div style="margin-top: 1rem; margin-bottom: 1rem;">
      <%= post_form.label :body, 'Post Body:' %>
      <%= post_form.text_area :body, size: '60x10' %>
    </div>

    <div style="margin-top: 1rem; margin-bottom: 1rem;">
      <%= post_form.label :tag_names, 'Post Tags:' %>
      <%= post_form.text_field :tag_names %>
    </div>

    <%= post_form.submit class: "btn btn--create" %>
  <% end %>
</div>
